{% extends 'admin/base.html.twig' %}

{% block title %}
	Modification de commentaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5">
			Modification du commentaire n°
			{{comment.id}}
		</h1>
		<div class="alert alert-info">

			<strong>Annonce reliée :
				{{comment.ad.title}}</strong><br>
			<strong>Auteur:
				{{comment.author.fullName}}
			</strong><br>
			<strong>Date de création:
				{{comment.createdAt | date('d/m/Y H:i') }}</strong><br>
			<strong>Note donnée
				{{comment.rating}}</strong><br>

		</div>
		{{ form_start(form)}}

		{{ form_widget(form)}}
		<button type="submit" class="btn btn-primary">
			<i class="fas fa-check"></i>
			Modifier le commentaire !
		</button>
		{{ form_end(form)}}

	</div>

{% endblock %}
