{% extends "base.html.twig" %}

{% block title %}
	Liste des annonce avec carte
{% endblock %}


{% block body %}

	<div class="big_container">

		<div class="list">
			{% for ad in ads %}
				{% set url = path('ads_show', {'slug': ad.slug }) %}
				<div class="item js-marker" data-lat="{{ad.latitude}}" data-lng="{{ad.longitude}}" data-price="{{ad.price}}" data-rooms="{{ad.rooms}}" data-content="{{ad.content}}" data-link="{{ url }}">
					<img src="{{ad.coverImage}}" alt="" style="max-height:300px; width:100%; display:block">
					<h4 class="card-title" style="font-size: 1.4rem;
																																																																																																																																																																																																									line-height: 2rem;
																																																																																																																																																																																																									max-height: 4rem;">
						<a href="{{ url }}" style="text-decoration:none; ">{{ad.title}}</a>
					</h4>


				</div>

			{% endfor %}
		</div>

		<div class="map" id="map"></div>
	</div>

	<script src="/js/vendor.js"></script>
	<script src="/js/map.js"></script>
{% endblock %}
